* {
    padding: 0;
    margin: 0;
}

body { 
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
    color:#2b2a27;
}

#mainvisual img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 10%;
}

.text .site-title {
    margin-bottom: 2%;
}

.text {
    text-align: center;
    padding: 0 3%;
    margin-bottom: 7%;
}

.flex {
    display: flex;
    margin-bottom: 6%;
}

.flex li {
    width: calc(100%/3);
}

.flex img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
}

.text .btn {
    display: inline-block;
    border: solid 1px #2a2a27;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;
}

a {
    color:#2b2a27;
}

#footer {
    font-size: 0.75rem;
    padding: 2%;
    text-align: center;
}

#footer .sns {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#footer .sns li {
    margin: 0 10px;
}

ul {
    list-style: none;
}

@media screen and (max-width:834px) {

    .flex {
        flex-direction: column;
    }
    
    .flex li {
        width: 100%;
    }
    
    .flex li img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        vertical-align: bottom;
    }


}